<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{burger_name}}</h4>
                <p class="card-text">
                    {{#if devoured}}
                        You ate me!
                    {{else}}
                        <button class="btn btn-primary devour-burger" data-id="{{id}}" data-devour="{{devoured}}">
                            Eat this burger</button>
                    {{/if}}
                </p>
            </div>
        </div>
    </div>
</div>