<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootsrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS style sheet -->
    <link rel="stylesheet" href="/assets/css/burger.css" type="text/css">

    <!-- Title for web page -->
    <title>Burger Town Party!</title>

    <!-- External link for jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Script file for ajax -->
    <script src="/assets/js/burger.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>