<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Eat Burgers!</h1>
            <p class="lead">Create new burgers and satisfy your hunger by eating them!</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers Waiting to be Eaten!</h2>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burger-block devoured=false}}
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6">
            <h2>Burgers Already Eaten!</h2>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burger-block devoured=true}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add your own burger</h3>
                    <p class="card-text">
                        <form class="create-form">
                            <div class="form-group">
                                <label for="createburger">Burger Name:</label>
                                <input type="text" id="createburger" name="name">
                            </div>
                            <button type="submit">Add Burger</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <!-- Footer -->
    <div class="row">
        <div class="card footer">
            <small>
                Background Image Credit
                <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@javier1997mo?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Javier Molina"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Javier Molina</span></a>
            </small>
        </div>
    </div>
</div>